@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.col-9 {
  position: static !important;
}

html {
  height: 100%;
}

/* always display scrollbars */
body {
  color: #30383b;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

strong {
  font-weight: bold;
}

input, textarea, select {
  outline: none;
}

textarea {
  resize: none;
}

img {
  border: 0;
  display: block;
  width: 100%;
}

button, button:focus {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.mr-5 {
  margin-right: 50px !important;
}

.mr-2 {
  margin-right: 20px !important;
}

.mr-1 {
  margin-right: 10px !important;
}

.main-btn {
  display: inline-block;
  padding: 20px 30px;
  background: #ff817e;
  color: #fff;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.2s linear;
  cursor: pointer;
}
.main-btn:hover {
  background: #ff6865;
}
.main-btn--rounded {
  border-radius: 30px;
}
.main-btn--form {
  font-size: 14px;
  padding: 16px 30px;
  text-transform: none;
}
.main-btn--long {
  padding: 20px 48px;
}
.main-btn--black {
  padding: 18px 30px;
  background: #30383b;
}
.main-btn--black:hover {
  background: #ff817e;
}
.main-btn--circle, .main-btn--circle:focus {
  padding: 0;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #30383b;
  color: #30383b;
  line-height: 30px;
}
.main-btn--circle:hover, .main-btn--circle:focus:hover {
  background: #ff817e;
  color: #fff;
  border: #ff817e 1px solid;
}

.video-btn {
  width: 45px;
  height: 45px;
  padding: 0;
  color: #ff817e;
  line-height: 43px;
  font-size: 20px;
  background: #fcf5ee;
  border-radius: 50%;
}
.video-btn .triangle {
  display: inline-block;
  margin-left: 8px;
  border: 6px solid transparent;
  border-left: 10px solid #ff817e;
}

.logo {
  display: inline-block;
  text-align: center;
}
.logo .logo__icon {
  width: 45px;
  margin: 0 auto;
}
.logo .logo__text {
  display: inline-block;
  color: #30383b;
  font-size: 30px;
  line-height: 1;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.img {
  position: relative;
}
.img .img-hover {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: #ff817e;
  transition: opacity 0.2s linear;
}
.img .img-hover .img-hover__inner {
  width: 100%;
  text-align: center;
}
.img .img-hover .img-hover__inner .img-hover__item + .img-hover__item {
  margin-top: 15px;
}
.img .img-hover .img-hover__inner .img-hover--icon {
  width: 15%;
  margin: 0 auto;
}
.img .img-hover .img-hover__inner .img-hover--text {
  font-family: "Rufina", serif;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
}
.img:hover .img-hover {
  opacity: 0.9;
}

.img-center {
  margin: 0 auto;
  width: 8%;
}

.links {
  color: #30383b;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  transition: color 0.1s linear;
}
.links:hover {
  color: #ff817e;
}

.text--little {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 2;
  color: #888;
}

.text--black {
  color: #30383b;
}

.text--little-min {
  font-size: 14px;
}

.text--title {
  font-family: "Rufina", serif;
  font-weight: 700;
  font-size: 40px;
}

.text--title-min {
  font-size: 22px;
}

.text--dark-gray {
  color: #555;
}

.text--light-gray {
  color: #777;
}

.text--subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #888888;
}

.text--subtitle-min {
  font-size: 14px;
}

.text--quote {
  font-family: "Rufina", serif;
  font-size: 18px;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.accent {
  color: #ff817e;
}

.page {
  padding: 130px 0;
}
.page--light {
  background: #fff9f8;
}

.main-card {
  padding: 20px;
  border: 1px solid #e3e6ea;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s linear;
}
.main-card:hover {
  border-color: #fff;
  box-shadow: 0 15px 40px 0 rgba(4, 10, 50, 0.1);
}
.main-card .main-card__text {
  padding: 0 15px;
}

.link-card {
  position: relative;
}
.link-card .link-card__container {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  padding: 40px 0 27px;
  background: #fff;
  text-align: center;
  transition: all 0.2s linear;
}
.link-card .link-card__container .link-card__show {
  display: flex;
  justify-content: center;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.25s ease-out, opacity 0.5s linear;
}
.link-card .link-card__container .link-card__show .link-card__show-item + .link-card__show-item {
  margin-left: 15px;
}
.link-card:hover .link-card__container .link-card__show {
  max-height: 30px;
  opacity: 1;
}
.link-card:hover .link-card__container {
  box-shadow: 0 15px 30px 0 rgba(48, 56, 59, 0.1);
}

.main-input {
  border: none;
  border-bottom: 1px solid #999;
  background: transparent;
  padding-bottom: 18px;
  padding-top: 10px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #30383b;
}
.main-input::placeholder {
  color: #999;
  text-transform: uppercase;
}
.main-input--border {
  border: 1px solid #e3e6ea;
  padding: 25px 20px;
}

.main-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #fff;
  line-height: 55px;
  text-align: center;
  font-size: 18px;
  background: #ff817e;
  border-radius: 50%;
}

/*.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}*/
.header {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  z-index: 110;
}

.header__inner .header__navbar {
  display: flex;
  justify-content: space-between;
}
.header__inner .header__menu {
  display: none;
  width: 100%;
  text-align: end;
}
.header__inner .header__menu .menu__icon {
  font-size: 25px;
}

.intro {
  position: relative;
  padding: 13% 0;
}
.intro .intro__bg-pictures .plant {
  position: absolute;
  left: 0;
  top: 200px;
  width: 11%;
}
.intro .intro__bg-pictures .girl {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
}

.intro__title {
  font-family: "Rufina", serif;
  font-weight: 700;
  font-size: 60px;
}

.intro__subtitle {
  color: #ff817e;
  text-transform: uppercase;
  font-size: 15px;
}

.intro__group {
  position: relative;
  z-index: 100;
  width: 49%;
}

.intro__buttons {
  display: flex;
  align-items: center;
}

.intro__watch-video {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.intro__watch-video .text--little {
  transition: color 0.2s linear;
}

.intro__watch-video:hover .text--little {
  color: #ff817e;
}

.about {
  position: relative;
}

.flower {
  position: absolute;
  z-index: 1;
}
.flower--red {
  top: -20px;
  left: 30px;
  width: 140px;
}
.flower--pink {
  top: 50%;
  right: 10px;
}

.service__inner {
  display: flex;
  justify-content: space-between;
}
.service__inner .service__item {
  width: 24.8%;
}

.slider .slider__item {
  margin-bottom: 50px;
  margin-top: 30px;
}
.slider .slider__quote-icon {
  width: 5.5%;
}
.slider .text--quote {
  line-height: 2;
}
.slider .client__photo {
  width: 7%;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.appointment__textarea {
  margin-top: 75px;
  /* ползунок скроллбара */
}
.appointment__textarea::-webkit-scrollbar {
  width: 3px;
  /* ширина для вертикального скролла */
  padding-right: 5px;
  background: transparent;
}
.appointment__textarea::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 25px;
}
.appointment__textarea::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.appointment__select {
  text-transform: uppercase;
  color: #999;
}

.get-in-touch__textarea {
  /* ползунок скроллбара */
}
.get-in-touch__textarea::-webkit-scrollbar {
  width: 3px;
  /* ширина для вертикального скролла */
  padding-right: 5px;
  background: transparent;
}
.get-in-touch__textarea::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 25px;
}
.get-in-touch__textarea::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.get-in-touch__contacts {
  padding-top: 10px;
}
.get-in-touch__contacts .contacts__item {
  display: flex;
  align-items: center;
}
.get-in-touch__contacts .contacts__item .contact__text {
  padding-left: 30px;
  line-height: 2;
}
.get-in-touch__contacts .contacts__item + .contacts__item {
  margin-top: 50px;
}

.footer .footer__logo {
  display: block;
  width: 14%;
  margin: 0 auto;
}
.footer .footer__nav {
  display: flex;
  justify-content: center;
}
.footer .footer__nav .navbar__item + .navbar__item {
  padding-left: 65px;
}
.footer .footer__social-network {
  display: flex;
  justify-content: center;
}
.footer .footer__social-network .social-network__item {
  font-size: 13px;
  color: #30383b;
  padding: 0 15px;
  transition: color 0.2s linear;
  cursor: pointer;
}
.footer .footer__social-network .social-network__item:hover {
  color: #ff817e;
}
.footer .footer__social-network .social-network__item + .social-network__item {
  border-left: #b1b4bb 1px solid;
}

@media (max-width: 992px) {
  .intro .intro__group {
    width: 77%;
  }
  .intro .intro__title {
    font-size: 60px;
  }
  .intro .intro__subtitle {
    font-size: 13px;
  }

  .header .header__inner .header__menu .menu__icon {
    font-size: 23px;
  }

  .get-in-touch__contacts .contacts__item .contact__text {
    padding-left: 20px;
  }

  .footer .footer__logo {
    width: 14%;
  }
  .footer .footer__nav .navbar__item + .navbar__item {
    padding-left: 60px;
  }
  .footer .footer__social-network .social-network__item {
    font-size: 12px;
  }

  .logo .logo__icon {
    width: 42px;
  }
  .logo .logo__text {
    font-size: 28px;
  }

  .main-btn {
    padding: 15px 25px;
    font-size: 11px;
  }
  .main-btn--form {
    font-size: 12px;
  }
  .main-btn--long {
    padding: 15px 40px;
  }
  .main-btn--black {
    padding: 12px 25px;
  }
  .main-btn--circle, .main-btn--circle:focus {
    padding: 0;
    width: 26px;
    height: 26px;
    line-height: 27px;
    font-size: 10px;
  }

  .img .img-hover .img-hover__inner .img-hover--text {
    font-size: 16px;
  }

  .main-card {
    padding: 10px;
  }
  .main-card .main-card__text {
    padding: 0 5px;
  }

  .link-card .link-card__container {
    width: 90%;
    padding: 25px 0 20px;
  }
  .link-card .link-card__container .link-card__show {
    margin-top: 18px !important;
  }
  .link-card .link-card__container .link-card__show .link-card__show-item + .link-card__show-item {
    margin-left: 8px;
  }

  .links {
    font-size: 13px;
  }

  .text--little {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    line-height: 1.8;
  }

  .text--little-min {
    font-size: 12px;
  }

  .text--title {
    font-size: 38px;
  }

  .text--title-min {
    font-size: 18px;
  }

  .text--subtitle {
    font-size: 16px;
  }

  .text--subtitle-min {
    font-size: 12px;
  }

  .text--quote {
    font-size: 15px;
  }

  .page {
    padding: 110px 0;
  }

  .main-input {
    padding-bottom: 16px;
    padding-top: 8px;
    font-size: 12px;
  }
  .main-input--border {
    padding: 20px 16px;
  }

  .main-icon {
    width: 46px;
    height: 46px;
    line-height: 48px;
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .header .header__inner .header__navbar {
    display: flex !important;
  }
}
@media (max-width: 768px) {
  .header {
    position: static;
    padding: 15px 0;
  }
  .header .header__inner .header__navbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
    top: 90px;
    left: 0;
    width: 100%;
    padding: 15px 0;
    background: #fcf5ee;
    box-shadow: 11px 9px 14px -5px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .header .header__inner .header__navbar .navbar__item {
    padding: 15px 0;
  }
  .header .header__inner .header__menu {
    display: inline-block;
    color: #ff817e;
  }

  .page--cream {
    background: #fcf5ee;
  }

  .intro {
    padding: 8% 0 13%;
  }
  .intro .intro__bg-pictures .girl {
    display: none;
  }
  .intro .intro__bg-pictures .plant {
    width: 14%;
  }
  .intro .intro__group {
    width: 85%;
  }

  .service .service__inner {
    flex-wrap: wrap;
  }
  .service .service__inner .service__item {
    width: 49.6%;
    margin-top: 6px;
  }

  .slider .slider__quote-icon {
    width: 8%;
  }
  .slider .client__photo {
    width: 15%;
  }

  .get-in-touch__contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .get-in-touch__contacts .contacts__item .contact__icon {
    width: 36px;
    height: 36px;
    line-height: 38px;
    font-size: 15px;
  }
  .get-in-touch__contacts .contacts__item .contact__text {
    padding-left: 10px;
  }
  .get-in-touch__contacts .contacts__item + .contacts__item {
    margin-top: 0;
  }

  .footer .footer__logo {
    width: 18%;
  }
  .footer .footer__social-network .social-network__item {
    font-size: 15px;
  }

  .mb-md-5 {
    margin-bottom: 50px;
  }

  .mb-md-8 {
    margin-bottom: 80px;
  }

  .main-btn--circle, .main-btn--circle:focus {
    padding: 0;
    width: 29px;
    height: 29px;
    line-height: 30px;
    font-size: 13px;
  }

  .link-card .link-card__container {
    width: 83%;
    bottom: -8%;
    padding: 28px 0 25px;
  }
  .link-card .link-card__container .link-card__show {
    margin-top: 24px;
  }
  .link-card .link-card__container .link-card__show .link-card__show-item + .link-card__show-item {
    margin-left: 20px;
  }

  .text--little {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    line-height: 1.8;
  }

  .text--little-min {
    font-size: 12px;
  }

  .text--title {
    font-size: 38px;
  }

  .text--title-min {
    font-size: 19px;
  }

  .text--subtitle {
    font-size: 15px;
  }

  .text--subtitle-min {
    font-size: 10px;
  }

  .text--quote {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .header .header__inner {
    padding: 0 10px;
  }

  .intro .intro__subtitle {
    font-size: 11px;
  }
  .intro .intro__title {
    font-size: 48px;
  }
  .intro .intro__group {
    width: 100%;
  }
  .intro .intro__buttons {
    justify-content: space-around;
  }
  .intro .intro__buttons .main-btn {
    padding: 15px 20px;
  }

  .flower {
    position: absolute;
    z-index: -1;
  }
  .flower--red {
    top: 10px;
    left: 30px;
    width: 80px;
  }
  .flower--pink {
    top: 50%;
    right: 0;
    width: 70px;
  }

  .service .service__inner .service__item {
    width: 100%;
  }

  .footer .footer__nav {
    display: flex;
    justify-content: space-between;
  }
  .footer .footer__nav .navbar__item + .navbar__item {
    padding-left: 0;
  }

  .text--little {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.8;
  }

  .text--little-min {
    font-size: 11px;
  }

  .text--title {
    font-size: 30px;
  }

  .text--title-min {
    font-size: 18px;
  }

  .text--subtitle {
    font-size: 14px;
  }

  .text--subtitle-min {
    font-size: 10px;
  }

  .text--quote {
    font-size: 13px;
  }

  .icon {
    margin-bottom: 15px !important;
  }
  .icon.img-center {
    width: 13%;
  }

  .mrt-sm-5 {
    margin-top: 3rem !important;
  }

  .mr-sm-0 {
    margin-right: 0 !important;
  }

  .mb-sm-6 {
    margin-bottom: 60px;
  }

  .links {
    font-size: 12px;
  }

  .page {
    padding: 80px 0;
  }
}
@media (max-width: 520px) {
  .get-in-touch__contacts {
    flex-wrap: wrap;
    justify-content: center;
  }
  .get-in-touch__contacts .contacts__item {
    width: 50.1%;
  }
  .get-in-touch__contacts .contacts__item + .contacts__item {
    margin-top: 10px;
  }
  .get-in-touch__contacts .contacts__item .contact__icon {
    width: 40px;
    height: 40px;
    line-height: 42px;
    font-size: 17px;
  }

  .footer .footer__logo {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .get-in-touch__contacts {
    flex-wrap: wrap;
    justify-content: center;
  }
  .get-in-touch__contacts .contacts__item {
    width: 60%;
  }
  .get-in-touch__contacts .contacts__item + .contacts__item {
    margin-top: 10px;
  }
  .get-in-touch__contacts .contacts__item .contact__icon {
    width: 40px;
    height: 40px;
    line-height: 42px;
    font-size: 17px;
  }
}

/*# sourceMappingURL=main.css.map */
